html {
    background: #fefefe;
    font-size: 100%;
}

body {
    color: #444;
    font-family: "Microsoft Yahei", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.5em;
    background: #fefefe;
    margin: 0;
}
button, input, select, textarea{
    outline: 0 none;
}
a{
    text-decoration: none;
}

/*图标*/
.menu i {
    height: 16px;
    width: 16px;
    display: block;
    margin: auto;
}

.menu i.index {
    background-image: url(../font-img/index.png);
}

.menu i.about {
    background-image: url(../font-img/about.png);
}

.menu i.phone {
    background-image: url(../font-img/phone.png);
}
.menu i.find {
    background-image: url(../font-img/find.png);
}