html {
    background: #fefefe;
    font-size: 100%;
    height: 100%;
}

body {
    color: #444;
    font-family: "Microsoft Yahei", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.5em;
    background: #fefefe;
    margin: 0;
    height: 100%;
}
button, input, select, textarea{
    outline: 0 none;
}
a{
    text-decoration: none;
}
figure{
    margin: 0;
}
/*图标*/
.menu i {
    height: 16px;
    width: 16px;
    display: block;
    margin: auto;
}

.menu i.index {
    background-image: url(../font-img/index.png);
}

.menu i.about {
    background-image: url(../font-img/about.png);
}

.menu i.phone {
    background-image: url(../font-img/phone.png);
}
.menu i.find {
    background-image: url(../font-img/find.png);
}

/**/
::-webkit-scrollbar {
width:10px;
height:10px;
}
::-webkit-scrollbar-track-piece {
background-color:#fff !important;
}
::-webkit-scrollbar-thumb {
border-radius:0;
background-color:#7c8286;
}
::-webkit-scrollbar-thumb:hover {
background-color:#60676b;
}
::-webkit-scrollbar-thumb:active {
background-color:#60676b;
}
::-webkit-scrollbar-thumb:active {
background-color: #7c8286;
}
::selection {
	color: white;
	background: rgb(215,48,48);
}
::-moz-selection {
color:white;
background:rgb(215,48,48);
}
::-webkit-selection {
color:white;
background:rgb(215,48,48);
}

/*导航工具条*/
.nav-cy {
    position: fixed;
    width: 45px;
    z-index: 1000;
    overflow: hidden;
    left: 0;
    top: 0;
    height: 100%;
    background: #2a2a2a;
}
.nav-cy *{
    margin: 0;
    padding: 0;
}

.nav-cy .navbar li {
    display: block;
}

.nav-cy .navbar .menu {
    display: block;
    padding: 14px;
    text-shadow: 0 1px 0 black;
}

.nav-cy .navbar .menu:hover {
    background-color: #f49484; 
    text-shadow: 0 1px 0 #de533a;
}

.nav-cy .navbar .menu-select {
    background: #e78170;
    text-shadow: 0 1px 0 #de533a;
}