/*主页包含左logo的模版*/

.default {
    width: 100%;
    height: 100%;
    position: relative;
}

.default .show-con .left {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 45px;
    width: 300px;
    background-image: url(../images/leftbg.png);
    background-position: center;
    background-size: cover;
}

.default .show-con .right {
    left: 345px;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    overflow: hidden;
}


/*功能*/

.right .page-con {
    padding: 0 40px;
    overflow: auto;
    height: 100%;
}

.right .core {
    height: 50px;
    line-height: 50px;
    border-bottom: 2px solid #d9d9d9;
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
}


/*按钮*/

.right .core .place {
    height: 50px;
    margin: 0;
    float: left;
}

.right .core .place li {
    float: left;
    display: inline-block;
}

.right .core .place .btn {
    display: inline-block;
    padding: 0 20px;
    color: #555555;
}

.core .place .btn.sel {
    border-bottom: 2px solid #555555;
    padding-bottom: 1px;
}

.core .place .btn:hover {
    background: #eeeeee;
}


/*搜索*/

.right .core .search {
    position: relative;
    width: 300px;
    float: right;
    margin-right: 20px;
}

.search input[type="search"] {
    width: 298px;
    height: 40px;
    border: 3px solid #cccccc;
    text-indent: 5px;
}

.search .icon-search {
    position: absolute;
    top: 13px;
    right: 10px;
    width: 24px;
    height: 25px;
    border: none;
    background-color: #cccccc;
    cursor: pointer;
}


/*标签云*/

.tags .tag_cloud {
    padding-top: 20px;
}

.tags .tag_cloud .tag_item {
    display: inline-block;
    padding: 6px 15px;
    border: 1px solid #cccccc;
    color: #6d6b6b;
    font-weight: bold;
    margin-right: 10px;
}
.tags .tag_cloud a:hover{
    background-color: #cccccc;
    color:aliceblue;
}

/*文章*/

.right .container {
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

/*文章列表*/
.tagsArticle{
    margin-top: 30px;
}
.tagsArticle .listing-item{
    display: block;
    border-bottom: 1px dashed #d9d9d9;
}
.tagsArticle .listing-item:last-child{
    border-bottom: none;
}
.listing-item .time{
    display: block;
    margin-top: 20px;
    color: #717171;
}
.listing-item .title{
    padding: 10px 0 10px;
    font-size: 18px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    color: black;
}
.listing-item .subtitle{
}

/*所有文章*/
.right .container .all-page{
    padding: 0 40px;
    overflow: auto;
    height: 100%;
}