---
layout: default
---

<div class="tags">
    <!-- 标签云 -->
    <div class="tag_cloud">
        {% for tag in site.tags %}
            <a class="tag_item" href="javascript:;" i_tag="{{tag[0]}}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">
            {{ tag[0] }}
            </a>
        {% endfor %}
    </div>

    <div id="show-tag">
        
    </div>
</div>

<h2>{{ page.title }}</h2>
<p>最新文章</p>
<ul>
    {% for post in site.posts %}
    <li>
        {{ post.date | date: "%Y-%m-%d"  }} 
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
</ul>