<!DOCTYPE html>
<html>

{% include pageHead.html %}

<body>
    <!--nav-->
    <div class="nav-cy">
        {% include nav.html %}
    </div>
    <!--page-->

    <div class="page-body">

        <h1 class="title">
            {{ page.title }}
        </h1>
        <div class="markdown-body">
            <div class="page-con">
                {{ page }}
            </div>
        </div>
        <div class="footer-container">
            {% include footer.html %}
        </div>
    </div>
</body>

</html>